@model PeopleIndexVM
    <div style="background-color:fuchsia">
        @Model.Name
    </div>

@*@model apr04people.Models.ViewModels.PeopleCreateVM
<div style="background-color:fuchsia">
    @Model.Name
</div>*@
